
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Test</title>
    
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
   
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    
</head>

<body>
    <div id="map"></div>
        <script>
	        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JhY2VmcmFpbiIsImEiOiJjbHJxbTJrZmgwNDl6MmtuemszZWtjYWh5In0.KcHGIpkGHywtjTHsL5PQDQ';
            const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/dark-v11', // style URL
            center: [-5, 55], // starting position
            zoom: 5 // starting zoom
            });
        </script>
        
        

    </body>
    <script type="module" src="main.js"></script>
    <script>
        setTimeout(myFunction, 6000)

        function myFunction() {
            console.log("helloha"); 
            console.log(allProductMetaData); 
            //allProductMetaData
        }

        console.log("hello"); 
        map.on('load', () => {
             //Add a data source containing GeoJSON data.
            map.addSource('newPoly', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Polygon',
                           'coordinates': [
                            [
                                // [ -5.338, 54.468 ],
                                // [ -5.331, 54.468 ],
                                // [ -5.33, 54.468 ],
                                // [ -5.324, 54.468 ],
                                // [ -5.323, 54.468 ],
                                // [ -5.317, 54.468 ],
                                // [ -5.316, 54.468 ],
                                // [ -5.31, 54.468 ],
                                // [ -5.309, 54.468 ],
                                // [ -5.303, 54.468 ],
                                // [ -5.295, 54.469 ],
                                // [ -5.294961, 54.46813 ],
                                // [ -5.288992, 54.468876 ],
                                // [ -5.289, 54.469 ],
                                // [ -5.288, 54.469 ],
                                // [ -5.282, 54.469 ],
                                // [ -5.281, 54.469 ],
                                // [ -5.275, 54.469 ],
                                // [ -5.274, 54.469 ],
                                // [ -5.268, 54.469 ],
                                // [ -5.267, 54.469 ],
                                // [ -5.261, 54.469 ],
                                // [ -5.26, 54.469 ],
                                // [ -5.254, 54.469 ],
                                // [ -5.253, 54.469 ],
                                // [ -5.247, 54.469 ],
                                // [ -5.24, 54.47 ],
                                // [ -5.233, 54.47 ],
                                // [ -5.227, 54.47 ],
                                // [ -5.226, 54.47 ],
                                // [ -5.22, 54.47 ],
                                // [ -5.219, 54.47 ],
                                // [ -5.213, 54.47 ],
                                // [ -5.212, 54.47 ],
                                // [ -5.206, 54.47 ],
                                // [ -5.205, 54.47 ],
                                // [ -5.199, 54.47 ],
                                // [ -5.198, 54.47 ],
                                // [ -5.192, 54.47 ],
                                // [ -5.184992, 54.470876 ],
                                // [ -5.185, 54.471 ],
                                // [ -5.184, 54.471 ],
                                // [ -5.178, 54.471 ],
                                // [ -5.177, 54.471 ],
                                // [ -5.171, 54.471 ],
                                // [ -5.17, 54.471 ],
                                // [ -5.164, 54.471 ],
                                // [ -5.163, 54.471 ],
                                // [ -5.157, 54.471 ],
                                // [ -5.156, 54.471 ],
                                // [ -5.15, 54.471 ],
                                // [ -5.149, 54.471 ],
                                // [ -5.143, 54.471 ],
                                // [ -5.142, 54.471 ],
                                // [ -5.136, 54.471 ],
                                // [ -5.129, 54.472 ],
                                // [ -5.122, 54.472 ],
                                // [ -5.115, 54.472 ],
                                // [ -5.109, 54.472 ],
                                // [ -5.108, 54.472 ],
                                // [ -5.102, 54.472 ],
                                // [ -5.101, 54.472 ],
                                // [ -5.095, 54.472 ],
                                // [ -5.094, 54.472 ],
                                // [ -5.087, 54.472 ],
                                // [ -5.085, 54.427 ],
                                // [ -5.092, 54.427 ],
                                // [ -5.099, 54.427 ],
                                // [ -5.105, 54.427 ],
                                // [ -5.106, 54.427 ],
                                // [ -5.112, 54.427 ],
                                // [ -5.113, 54.427 ],
                                // [ -5.119, 54.427 ],
                                // [ -5.12, 54.427 ],
                                // [ -5.126, 54.427 ],
                                // [ -5.127, 54.427 ],
                                // [ -5.133, 54.427 ],
                                // [ -5.140006, 54.426124 ],
                                // [ -5.14, 54.426 ],
                                // [ -5.141, 54.426 ],
                                // [ -5.147, 54.426 ],
                                // [ -5.148, 54.426 ],
                                // [ -5.154, 54.426 ],
                                // [ -5.155, 54.426 ],
                                // [ -5.161, 54.426 ],
                                // [ -5.162, 54.426 ],
                                // [ -5.168, 54.426 ],
                                // [ -5.169, 54.426 ],
                                // [ -5.175, 54.426 ],
                                // [ -5.176, 54.426 ],
                                // [ -5.182, 54.426 ],
                                // [ -5.189, 54.426 ],
                                // [ -5.196, 54.425 ],
                                // [ -5.203, 54.425 ],
                                // [ -5.209, 54.425 ],
                                // [ -5.21, 54.425 ],
                                // [ -5.216, 54.425 ],
                                // [ -5.217, 54.425 ],
                                // [ -5.223, 54.425 ],
                                // [ -5.224, 54.425 ],
                                // [ -5.23, 54.425 ],
                                // [ -5.231, 54.425 ],
                                // [ -5.237, 54.425 ],
                                // [ -5.238, 54.425 ],
                                // [ -5.244, 54.425 ],
                                // [ -5.251006, 54.424124 ],
                                // [ -5.251, 54.424 ],
                                // [ -5.252, 54.424 ],
                                // [ -5.258, 54.424 ],
                                // [ -5.259, 54.424 ],
                                // [ -5.265, 54.424 ],
                                // [ -5.266, 54.424 ],
                                // [ -5.272, 54.424 ],
                                // [ -5.273, 54.424 ],
                                // [ -5.279, 54.424 ],
                                // [ -5.28, 54.424 ],
                                // [ -5.286, 54.424 ],
                                // [ -5.293, 54.424 ],
                                // [ -5.3, 54.423 ],
                                // [ -5.306, 54.423 ],
                                // [ -5.307, 54.423 ],
                                // [ -5.313, 54.423 ],
                                // [ -5.314, 54.423 ],
                                // [ -5.32, 54.423 ],
                                // [ -5.321, 54.423 ],
                                // [ -5.327, 54.423 ],
                                // [ -5.328, 54.423 ],
                                // [ -5.335, 54.423 ],
                                // [ -5.338, 54.468 ]

                                [ -0.156727, 51.489649 ],
                                [ -0.156727, 51.508804 ],
                                [ -0.115185, 51.508804 ],
                                [ -0.115185, 51.489649 ],
                                [ -0.156727, 51.489649 ]
                            ]
                        ]
                    }
                }
            });
            map.addLayer({
                    'id': 'newPoly',
                    'type': 'fill',
                    'source': 'newPoly', // reference the data source
                    'layout': {},
                    'paint': {
                        'fill-color': '#000000',
                        'fill-opacity': 0.2
                    }
                });
                // Add a black outline around the polygon.
                map.addLayer({
                    'id': 'outline',
                    'type': 'line',
                    'source': 'newPoly',
                    'layout': {},
                    'paint': {
                        'line-color': '#111111',
                        'line-width': 3
                    }
                });
                
            //CreateSquarePolygon("1",-6.116, 55.650, -6.108, 55.651, -6.112, 55.695, -6.120, 55.695, -6.116, 55.650);
            //CreateSquarePolygon("2",-6.088, 55.651, -6.08, 55.651, -6.083, 55.696, -6.091, 55.696, -6.088, 55.651);

            function CreateSquarePolygon(Name ,N1, W1, N2, W2, N3, W3, N4, W4, N5, W5) {
                map.addSource(Name, {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': [
                                [
                                    [N1, W1],
                                    [N2, W2],
                                    [N3, W3],
                                    [N4, W4],
                                    [N5, W5]
                                ]
                            ]
                        }
                    }
                });
                // Add a new layer to visualize the polygon.
                map.addLayer({
                    'id': Name,
                    'type': 'fill',
                    'source': Name, // reference the data source
                    'layout': {},
                    'paint': {
                        'fill-color': '#000000',
                        'fill-opacity': 0.2
                    }
                });
                // Add a black outline around the polygon.
                map.addLayer({
                    'id': 'outline',
                    'type': 'line',
                    'source': Name,
                    'layout': {},
                    'paint': {
                        'line-color': '#111111',
                        'line-width': 3
                    }
                });
            }
        });
    </script>
</html>
