<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sci-GeoTracker</title>

    <meta name="viewport" content="initial-scale=1,maximum-scale=5,user-scalable=yes" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js"></script>

    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>

  <body class="m-0 p-0 h-screen max-h-screen text-neutral-600 dark:text-neutral-200 fill-neutral-600 dark:fill-neutral-200">
    <div class="absolute top-0 left-0 z-20 m-2 flex flex-row gap-2 pointer-events-none">
      <div id="tray" class="flex flex-col gap-2 pointer-events-auto">
        <div
          class="flex flex-col overflow-hidden text-sm font-semibold rounded-lg ring-1 shadow-sm dark:ring-neutral-700/50 ring-neutral-400/50"
        >
          <!-- <button type="button" id="button" class="p-2 hover:bg-neutral-900">
            <svg class="h-5 w-5 rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
            </svg>
          </button> -->
          <button
            type="button"
            alt="Drag and move map tool"
            id="move-button"
            class="p-1.5 dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 bg-neutral-100/90 hover:bg-neutral-100/60"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
              <path d="M 14.984375 2.9863281 A 1.0001 1.0001 0 0 0 14.207031 3.3769531 A 1.0001 1.0001 0 0 0 14.203125 3.3828125 L 11.292969 6.2929688 A 1.0001 1.0001 0 1 0 12.707031 7.7070312 L 14 6.4140625 L 14 11 A 1.0001 1.0001 0 1 0 16 11 L 16 6.4140625 L 17.292969 7.7070312 A 1.0001 1.0001 0 1 0 18.707031 6.2929688 L 15.791016 3.3769531 A 1.0001 1.0001 0 0 0 14.984375 2.9863281 z M 6.9804688 10.990234 A 1.0001 1.0001 0 0 0 6.2929688 11.292969 L 3.3808594 14.205078 A 1.0001 1.0001 0 0 0 3.3769531 15.792969 A 1.0001 1.0001 0 0 0 3.3828125 15.796875 L 6.2929688 18.707031 A 1.0001 1.0001 0 1 0 7.7070312 17.292969 L 6.4140625 16 L 11 16 A 1.0001 1.0001 0 1 0 11 14 L 6.4140625 14 L 7.7070312 12.707031 A 1.0001 1.0001 0 0 0 6.9804688 10.990234 z M 22.990234 10.990234 A 1.0001 1.0001 0 0 0 22.292969 12.707031 L 23.585938 14 L 19 14 A 1.0001 1.0001 0 1 0 19 16 L 23.585938 16 L 22.292969 17.292969 A 1.0001 1.0001 0 1 0 23.707031 18.707031 L 26.619141 15.794922 A 1.0001 1.0001 0 0 0 26.623047 14.207031 A 1.0001 1.0001 0 0 0 26.617188 14.203125 L 23.707031 11.292969 A 1.0001 1.0001 0 0 0 22.990234 10.990234 z M 14.984375 17.986328 A 1.0001 1.0001 0 0 0 14 19 L 14 23.585938 L 12.707031 22.292969 A 1.0001 1.0001 0 0 0 11.990234 21.990234 A 1.0001 1.0001 0 0 0 11.292969 23.707031 L 14.205078 26.619141 A 1.0001 1.0001 0 0 0 15.796875 26.617188 L 18.707031 23.707031 A 1.0001 1.0001 0 0 0 17.990234 21.986328 A 1.0001 1.0001 0 0 0 17.292969 22.292969 L 16 23.585938 L 16 19 A 1.0001 1.0001 0 0 0 14.984375 17.986328 z"></path>
            </svg>
          </button>
          <!-- <button
            type="button"
            alt="Draw custom rectangle tool"
            id="rectangle-button"
            class="p-1.5 dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 bg-neutral-100/90 hover:bg-neutral-100/60"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
              <path d="M 4 5 A 2 2 0 0 0 2 7 A 2 2 0 0 0 3 8.7304688 L 3 21.271484 A 2 2 0 0 0 2 23 A 2 2 0 0 0 4 25 A 2 2 0 0 0 5.7304688 24 L 24.271484 24 A 2 2 0 0 0 26 25 A 2 2 0 0 0 28 23 A 2 2 0 0 0 27 21.269531 L 27 8.7285156 A 2 2 0 0 0 28 7 A 2 2 0 0 0 26 5 A 2 2 0 0 0 24.269531 6 L 5.7285156 6 A 2 2 0 0 0 4 5 z M 5.7304688 8 L 24.271484 8 A 2 2 0 0 0 25 8.7304688 L 25 21.271484 A 2 2 0 0 0 24.269531 22 L 5.7285156 22 A 2 2 0 0 0 5 21.269531 L 5 8.7285156 A 2 2 0 0 0 5.7304688 8 z"></path>
            </svg>
          </button> -->
          <button
            type="button"
            alt="Draw custom polygon tool"
            id="polygon-button"
            class="p-1.5 dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 bg-neutral-100/90 hover:bg-neutral-100/60"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
              <path d="M 12 3 A 2 2 0 0 0 10 5 A 2 2 0 0 0 10.068359 5.5175781 L 7.515625 8.0703125 A 2 2 0 0 0 7 8 A 2 2 0 0 0 5 10 A 2 2 0 0 0 5.5039062 11.324219 L 3.5976562 17.042969 A 2 2 0 0 0 2 19 A 2 2 0 0 0 4 21 A 2 2 0 0 0 5.390625 20.4375 L 9.0605469 21.486328 A 2 2 0 0 0 11 23 A 2 2 0 0 0 11.517578 22.931641 L 14.070312 25.484375 A 2 2 0 0 0 14 26 A 2 2 0 0 0 16 28 A 2 2 0 0 0 18 26 A 2 2 0 0 0 17.994141 25.871094 L 24.115234 21.791016 A 2 2 0 0 0 25 22 A 2 2 0 0 0 27 20 A 2 2 0 0 0 26 18.269531 L 26 12.728516 A 2 2 0 0 0 27 11 A 2 2 0 0 0 25 9 A 2 2 0 0 0 24.660156 9.0292969 L 21.875 5.6875 A 2 2 0 0 0 22 5 A 2 2 0 0 0 20 3 A 2 2 0 0 0 18.269531 4 L 13.728516 4 A 2 2 0 0 0 12 3 z M 13.730469 6 L 18.271484 6 A 2 2 0 0 0 20 7 A 2 2 0 0 0 20.339844 6.9707031 L 23.125 10.3125 A 2 2 0 0 0 23 11 A 2 2 0 0 0 24 12.730469 L 24 18.271484 A 2 2 0 0 0 23 20 A 2 2 0 0 0 23.005859 20.126953 L 16.884766 24.208984 A 2 2 0 0 0 16 24 A 2 2 0 0 0 15.482422 24.068359 L 12.929688 21.515625 A 2 2 0 0 0 13 21 A 2 2 0 0 0 11 19 A 2 2 0 0 0 9.609375 19.5625 L 5.9394531 18.513672 A 2 2 0 0 0 5.4960938 17.675781 L 7.4023438 11.957031 A 2 2 0 0 0 9 10 A 2 2 0 0 0 8.9316406 9.484375 L 11.484375 6.9296875 A 2 2 0 0 0 12 7 A 2 2 0 0 0 13.730469 6 z"></path>
            </svg>
          </button>
        </div>
        <button
          type="button"
          alt="Filter map tool"
          id="filter-button"
          class="rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
            <path d="M 4 4 A 1.0001 1.0001 0 1 0 4 6 L 4.8007812 6 L 12 15 L 18 15 L 25.199219 6 L 26 6 A 1.0001 1.0001 0 1 0 26 4 L 4 4 z M 12 17 L 12 26 L 18 24 L 18 17 L 12 17 z"></path>
          </svg>
        </button>
        <button
          type="button"
          alt="Saved areas folder"
          id="folder-button"
          class="rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
            <path d="M 5 4 C 3.895 4 3 4.895 3 6 L 3 9 L 3 11 L 22 11 L 27 11 L 27 8 C 27 6.895 26.105 6 25 6 L 12.199219 6 L 11.582031 4.9707031 C 11.221031 4.3687031 10.570187 4 9.8671875 4 L 5 4 z M 2.5019531 13 C 1.4929531 13 0.77040625 13.977406 1.0664062 14.941406 L 4.0351562 24.587891 C 4.2941563 25.426891 5.0692656 26 5.9472656 26 L 15 26 L 24.052734 26 C 24.930734 26 25.705844 25.426891 25.964844 24.587891 L 28.933594 14.941406 C 29.229594 13.977406 28.507047 13 27.498047 13 L 15 13 L 2.5019531 13 z"></path>
          </svg>
        </button>
        <button
          type="button"
          alt="Display histogram"
          id="histogram-button"
          class="rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
            <path d="M 11 4 C 10.448 4 10 4.448 10 5 L 10 22 L 14 22 L 14 5 C 14 4.448 13.552 4 13 4 L 11 4 z M 5 6 C 4.448 6 4 6.448 4 7 L 4 22 L 8 22 L 8 7 C 8 6.448 7.552 6 7 6 L 5 6 z M 23 8 C 22.448 8 22 8.448 22 9 L 22 22 L 26 22 L 26 9 C 26 8.448 25.552 8 25 8 L 23 8 z M 17 10 C 16.448 10 16 10.448 16 11 L 16 22 L 20 22 L 20 11 C 20 10.448 19.552 10 19 10 L 17 10 z M 3 24 A 1.0001 1.0001 0 1 0 3 26 L 27 26 A 1.0001 1.0001 0 1 0 27 24 L 3 24 z"></path>
          </svg>
        </button>
        <button
          type="button"
          alt="Change map theme"
          id="theme-button"
          class="rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
            <path class="visible dark:invisible" d="M22,21c-6.627,0-12-5.373-12-12c0-1.95,0.475-3.785,1.3-5.412C6.485,5.148,3,9.665,3,15c0,6.627,5.373,12,12,12 c4.678,0,8.72-2.682,10.7-6.588C24.534,20.79,23.292,21,22,21z"></path>
            <path class="invisible dark:visible" d="M 14.984375 0.98632812 A 1.0001 1.0001 0 0 0 14 2 L 14 5 A 1.0001 1.0001 0 1 0 16 5 L 16 2 A 1.0001 1.0001 0 0 0 14.984375 0.98632812 z M 5.796875 4.7988281 A 1.0001 1.0001 0 0 0 5.1015625 6.515625 L 7.2226562 8.6367188 A 1.0001 1.0001 0 1 0 8.6367188 7.2226562 L 6.515625 5.1015625 A 1.0001 1.0001 0 0 0 5.796875 4.7988281 z M 24.171875 4.7988281 A 1.0001 1.0001 0 0 0 23.484375 5.1015625 L 21.363281 7.2226562 A 1.0001 1.0001 0 1 0 22.777344 8.6367188 L 24.898438 6.515625 A 1.0001 1.0001 0 0 0 24.171875 4.7988281 z M 15 8 A 7 7 0 0 0 8 15 A 7 7 0 0 0 15 22 A 7 7 0 0 0 22 15 A 7 7 0 0 0 15 8 z M 2 14 A 1.0001 1.0001 0 1 0 2 16 L 5 16 A 1.0001 1.0001 0 1 0 5 14 L 2 14 z M 25 14 A 1.0001 1.0001 0 1 0 25 16 L 28 16 A 1.0001 1.0001 0 1 0 28 14 L 25 14 z M 7.9101562 21.060547 A 1.0001 1.0001 0 0 0 7.2226562 21.363281 L 5.1015625 23.484375 A 1.0001 1.0001 0 1 0 6.515625 24.898438 L 8.6367188 22.777344 A 1.0001 1.0001 0 0 0 7.9101562 21.060547 z M 22.060547 21.060547 A 1.0001 1.0001 0 0 0 21.363281 22.777344 L 23.484375 24.898438 A 1.0001 1.0001 0 1 0 24.898438 23.484375 L 22.777344 21.363281 A 1.0001 1.0001 0 0 0 22.060547 21.060547 z M 14.984375 23.986328 A 1.0001 1.0001 0 0 0 14 25 L 14 28 A 1.0001 1.0001 0 1 0 16 28 L 16 25 A 1.0001 1.0001 0 0 0 14.984375 23.986328 z"></path>
          </svg>
        </button>
        <button
          type="button"
          alt="Toggle timeline 1"
          id="timeline-button"
          class="rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"></path>
          </svg>
        </button>
        <!-- <button
          type="button"
          alt="Toggle timeline 2"
          id="timeline-button-2"
          class="rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-6 w-6">
            <path d="M 11 4 C 10.448 4 10 4.448 10 5 L 10 22 L 14 22 L 14 5 C 14 4.448 13.552 4 13 4 L 11 4 z M 5 6 C 4.448 6 4 6.448 4 7 L 4 22 L 8 22 L 8 7 C 8 6.448 7.552 6 7 6 L 5 6 z M 23 8 C 22.448 8 22 8.448 22 9 L 22 22 L 26 22 L 26 9 C 26 8.448 25.552 8 25 8 L 23 8 z M 17 10 C 16.448 10 16 10.448 16 11 L 16 22 L 20 22 L 20 11 C 20 10.448 19.552 10 19 10 L 17 10 z M 3 24 A 1.0001 1.0001 0 1 0 3 26 L 27 26 A 1.0001 1.0001 0 1 0 27 24 L 3 24 z"></path>
          </svg>
        </button>         -->
      </div>

      <div class="w-40 pointer-events-auto h-fit grow-0">
        <div>
          <button
            type="button"
            alt="Dropdown list for different filters"
            class="inline-flex w-full gap-x-1.5 px-3 py-1.5 text-sm font-semibold rounded-lg shadow-sm ring-1 dark:bg-neutral-900/90 dark:hover:bg-neutral-900 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-200/90 ring-neutral-400/50"
            id="layer-menu-button"
            aria-expanded="true"
            aria-haspopup="true"
          >
            <span id="layer-menu-button-text" class=""></span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-4 w-4 ml-auto my-auto">
              <path d="M 24.990234 8.9863281 A 1.0001 1.0001 0 0 0 24.292969 9.2929688 L 15 18.585938 L 5.7070312 9.2929688 A 1.0001 1.0001 0 0 0 4.9902344 8.9902344 A 1.0001 1.0001 0 0 0 4.2929688 10.707031 L 14.292969 20.707031 A 1.0001 1.0001 0 0 0 15.707031 20.707031 L 25.707031 10.707031 A 1.0001 1.0001 0 0 0 24.990234 8.9863281 z"></path>
            </svg>
          </button>
        </div>

        <!--
          Dropdown menu, show/hide based on menu state.
      
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div
          id="layer-menu-items-container"
          class="z-20 mt-2 rounded-md overflow-hidden ring-1 focus:outline-none shadow-sm dark:bg-neutral-900/90 dark:ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 hidden"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div class="#py-1" role="none">
            <!-- Active: "bg-neutral-900 text-neutral-200", Not Active: "text-neutral-100" -->
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="frames-item"
              >Frames</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="heatmap-item"
              >Heatmap</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="choropleth-item"
              >Choropleth</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="cluster-density-item"
              >Cluster</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="border-selection-item"
              >Border Selection</a
            >
          </div>
        </div>

        <div
          id="filter-menu-container"
          class="absolute w-80 rounded-xl overflow-hidden text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 top-12 left-12 hidden"
        >
          <div id="filter-menu-header" class="absolute w-full h-4 cursor-move flex #bg-neutral-200">
            <button type="button" id="filter-menu-close-button" class="absolute top-2 right-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
                <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
              </svg>
            </button>
          </div>
          <div class="px-2 py-2" id="filter-menu">
            <div class="flex flex-row gap-2 px-1">
              <h2 class="dark:text-neutral-300 text-neutral-500 grow font-bold">Mission Filter</h2>
            </div>
            <div class="mt-2 px-1">
              <table class="table-auto border-separate border-spacing-y-1.5 w-full">
                <tbody>
                  <tr>
                    <td class="font-light dark:text-neutral-200 text-neutral-500 w-full">
                      <label for="filter-start-date">Start date</label>
                    </td>
                    <td
                      class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
                    >
                      <input type="date" id="filter-start-date" name="filter-start-date" class="w-36 block rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-neutral-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 dark:bg-neutral-800 dark:text-neutral-100 dark:ring-neutral-700" />
                    </td>
                  </tr>
                  <tr>
                    <td class="font-light dark:text-neutral-200 text-neutral-500 w-full">
                      <label for="filter-end-date">End date</label>
                    </td>
                    <td
                      class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
                    >
                      <input type="date" id="filter-end-date" name="filter-end-date" class="w-36 block rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-neutral-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 dark:bg-neutral-800 dark:text-neutral-100 dark:ring-neutral-700" />
                    </td>
                  </tr>
                  <tr>
                    <td class="font-light dark:text-neutral-200 text-neutral-500 w-full">
                      <label for="filter-min-coverage">Minimum coverage</label>
                    </td>
                    <td
                      class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500 flex gap-2"
                    >
                      <input type="number" id="filter-min-coverage" name="filter-min-coverage" min="0" class="grow w-28 block rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-neutral-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 dark:bg-neutral-800 dark:text-neutral-100 dark:ring-neutral-700" />
                      <span class="my-auto">
                        km²
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex flex-row gap-2 text-sm #text-neutral-600 #dark:text-neutral-400 pt-2">
              <button
                type="button"
                id="filter-mission-list-button"
                class="px-4 py-1.5 w-full rounded-md overflow-hidden bg-neutral-100 ring-neutral-400/50 hover:bg-white #hover:ring-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:hover:ring-neutral-500/70 ring-1 dark:ring-neutral-600/50"
              >
                Mission list
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="absolute top-0 right-0 z-10 m-2 flex flex-col gap-4 pointer-events-none">
      <div id="search-container" class="flex flex-row gap-2">
        <div id="search-bar-results-container" class="pointer-events-auto flex flex-col gap-1 h-fit" tabindex="0">
          <input
            type="text"
            name="price"
            id="search-bar"
            class="block #w-full rounded-xl py-1.5 px-3 #border-0 text-sm w-64 ring-1 shadow-sm focus:outline-none dark:bg-neutral-900/90 bg-neutral-100/90 dark:focus:bg-neutral-950/80 focus:bg-white dark:placeholder:text-neutral-400 placeholder:text-neutral-500 dark:ring-neutral-700/50 ring-neutral-400/50"
            placeholder="Search"
          />
          <div id="search-results-container" class="flex flex-col gap-1 overflow-y-auto max-h-96"></div>
        </div>
        <div class="flex flex-col gap-4">
          <button
            type="button"
            alt="Search by placename"
            id="search-button"
            class="pointer-events-auto max-h-fit rounded-lg p-2 shadow-sm ring-1 dark:bg-neutral-900/90 dark:hover:bg-neutral-800/70 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-100/60 ring-neutral-400/50"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-4 w-4">
              <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
            </svg>
          </button>

          <div id="zoom-container" class="ml-auto">
            <div class="flex flex-col">
              <button
                type="button"
                alt="Increase zoom"
                id="zoom-in-button"
                class="pointer-events-auto z-20 rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 bg-neutral-100/90 dark:ring-neutral-700/50 ring-neutral-400/50 dark:hover:bg-neutral-800/70 hover:bg-neutral-200/90"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
                  <path d="M 14.970703 2.9726562 A 2.0002 2.0002 0 0 0 13 5 L 13 13 L 5 13 A 2.0002 2.0002 0 1 0 5 17 L 13 17 L 13 25 A 2.0002 2.0002 0 1 0 17 25 L 17 17 L 25 17 A 2.0002 2.0002 0 1 0 25 13 L 17 13 L 17 5 A 2.0002 2.0002 0 0 0 14.970703 2.9726562 z"></path>
                </svg>
              </button>
              <div id="zoom-scroll-bar" class="h-44 relative">
                <div class="absolute w-full h-full py-3">
                  <div
                    id="zoom-scroll-button"
                    class="pointer-events-auto cursor-grab active:cursor-grabbing relative w-full h-2 rounded-md -mt-1 ring-1 dark:bg-neutral-800 dark:ring-neutral-700 bg-neutral-100/90 ring-neutral-400/50"
                  ></div>
                </div>
                <div
                  class="pointer-events-auto w-1 h-full mx-auto ring-1 dark:bg-neutral-900/90 dark:ring-neutral-700/50 bg-neutral-200/90 ring-neutral-400/50"
                ></div>
              </div>
              <button
                type="button"
                alt="Decrease zoom"
                id="zoom-out-button"
                class="pointer-events-auto z-20 rounded-lg p-1.5 ring-1 shadow-sm dark:bg-neutral-900/90 bg-neutral-100/90 dark:ring-neutral-700/50 ring-neutral-400/50 dark:hover:bg-neutral-800/70 hover:bg-neutral-200/90"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
                  <path d="M 5 13 A 2.0002 2.0002 0 1 0 5 17 L 25 17 A 2.0002 2.0002 0 1 0 25 13 L 5 13 z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="absolute bottom-0 left-0 z-10 m-2 flex flex-row gap-3 pointer-events-none">
      <div class="w-40 pointer-events-auto h-fit grow-0 mt-auto">
        <!--
          Dropdown menu, show/hide based on menu state.
      
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div
          id="style-menu-items-container"
          class="z-20 mb-2 rounded-md overflow-hidden ring-1 focus:outline-none shadow-sm dark:bg-neutral-900/90 dark:ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 hidden"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div class="#py-1" role="none">
            <!-- Active: "bg-neutral-900 text-neutral-200", Not Active: "text-neutral-100" -->
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="dark-item"
              >Dark</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="light-item"
              >Light</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="satellite-item"
              >Satellite</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm dark:hover:bg-neutral-800/40 hover:bg-neutral-200/70"
              role="menuitem"
              tabindex="-1"
              id="topo-item"
              >Topology</a
            >
          </div>
        </div>
        <div>
          <button
            type="button"
            alt="Dropdown list for different filters"
            class="inline-flex w-full gap-x-1.5 px-3 py-1.5 text-sm font-semibold rounded-lg shadow-sm ring-1 dark:bg-neutral-900/90 dark:hover:bg-neutral-900 dark:ring-neutral-700/50 bg-neutral-100/90 hover:bg-neutral-200/90 ring-neutral-400/50"
            id="style-menu-button"
            aria-expanded="true"
            aria-haspopup="true"
          >
            <span id="style-menu-button-text"></span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-4 w-4 ml-auto my-auto">
              <path d="M 24.990234 8.9863281 A 1.0001 1.0001 0 0 0 24.292969 9.2929688 L 15 18.585938 L 5.7070312 9.2929688 A 1.0001 1.0001 0 0 0 4.9902344 8.9902344 A 1.0001 1.0001 0 0 0 4.2929688 10.707031 L 14.292969 20.707031 A 1.0001 1.0001 0 0 0 15.707031 20.707031 L 25.707031 10.707031 A 1.0001 1.0001 0 0 0 24.990234 8.9863281 z"></path>
            </svg>
          </button>
        </div>
      </div>

      <div id="timeline-toggle-buttons" class="h-fit mt-auto pointer-events-auto flex flex-row rounded-lg dark:bg-neutral-900/90 dark:ring-neutral-700/50 bg-neutral-100/90 ring-neutral-400/50 ring-1 shadow-sm overflow-hidden">
        <button
          type="button"
          alt="Toggle timeline 1"
          id="timeline-button"
          class="p-1.5 hover:bg-neutral-200 dark:hover:bg-neutral-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-4 w-4">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"></path>
          </svg>
        </button>
        <button
          type="button"
          alt="Toggle timeline 2"
          id="timeline-button-2"
          class="p-1.5 hover:bg-neutral-200 dark:hover:bg-neutral-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-4 w-4">
            <path d="M 11 4 C 10.448 4 10 4.448 10 5 L 10 22 L 14 22 L 14 5 C 14 4.448 13.552 4 13 4 L 11 4 z M 5 6 C 4.448 6 4 6.448 4 7 L 4 22 L 8 22 L 8 7 C 8 6.448 7.552 6 7 6 L 5 6 z M 23 8 C 22.448 8 22 8.448 22 9 L 22 22 L 26 22 L 26 9 C 26 8.448 25.552 8 25 8 L 23 8 z M 17 10 C 16.448 10 16 10.448 16 11 L 16 22 L 20 22 L 20 11 C 20 10.448 19.552 10 19 10 L 17 10 z M 3 24 A 1.0001 1.0001 0 1 0 3 26 L 27 26 A 1.0001 1.0001 0 1 0 27 24 L 3 24 z"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="absolute bottom-0 right-0 z-10 m-2 flex flex-col gap-2">
      <div
        id="coords-container"
        class="py-1 px-6 min-w-40 rounded-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 text-[13px] font-mono text-center"
      >
        <p id="coords" class="font-medium">-.000, -.000</p>
      </div>
      <div
        id="scale-bar-container"
        class="py-1 px-4 rounded-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 text-[11px] font-mono text-center inline-flex items-center"
      >
        <div id="scale-bar" class="w-full">
          <div id="scale-bar-inner" class="h-1 bg-neutral-500 dark:bg-neutral-400"></div>
          <div id="scale-bar-label" class="font-medium mt-1"></div>
        </div>
      </div>
    </div>

    <div
      id="area-selection-info-container"
      class="absolute z-20 w-72 px-2 py-2 rounded-xl overflow-hidden text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 top-20 right-20 hidden"
    >
      <div class="flex flex-row gap-2 px-1">
        <h2 class="dark:text-neutral-300 text-neutral-500 grow font-bold">Area Selection</h2>
        <button type="button" id="area-selection-info-close-button" class="ml-auto mb-auto basis-3 shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div class="my-2 px-1">
        <table class="table-auto border-separate border-spacing-y-1.5 w-full">
          <tbody>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Total area</td>
              <td
                id="selection-total-area-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td id="selection-total-area-unit" class="font-light text-right dark:text-neutral-200 text-neutral-500">
                km²
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Covered area</td>
              <td
                id="selection-covered-area-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td id="selection-covered-area-unit" class="font-light text-right dark:text-neutral-200 text-neutral-500">
                km²
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Uncovered area</td>
              <td
                id="selection-uncovered-area-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td
                id="selection-uncovered-area-unit"
                class="font-light text-right dark:text-neutral-200 text-neutral-500"
              >
                km²
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Coverage %</td>
              <td
                id="selection-coverage-percentage-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td
                id="selection-coverage-percentage-unit"
                class="font-light text-right dark:text-neutral-200 text-neutral-500"
              >
                %
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Total missions</td>
              <td
                id="selection-total-missions-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <!-- <td
                id="selection-total-missions-unit"
                class="font-light text-right dark:text-neutral-200 text-neutral-500"
              ></td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button
          type="button"
          id="area-selection-info-activity-button"
          class="px-4 py-1 w-full rounded-md overflow-hidden dark:bg-neutral-800 ring-1 ring-neutral-600/50 ring-neutral-700/50 bg-neutral-300/90"
          >
          Make Activity
        </button>
      </div>
      <div id="area-selection-info-spacer" class="py-1"></div>
      <button
          type="button"
          id="area-selection-info-save-button"
          class="px-4 py-1 w-full rounded-md overflow-hidden dark:bg-neutral-800 ring-1 ring-neutral-600/50 ring-neutral-700/50 bg-neutral-300/90"
          >
          Save polygon
        </button>
    </div>
    <div
      id="area-view-info-container"
      class="absolute z-20 w-72 px-2 py-2 rounded-xl overflow-hidden text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 top-20 right-20 hidden"
    >
      <div class="flex flex-row gap-2 px-1">
        <h2 class="dark:text-neutral-300 text-neutral-500 grow font-bold" id="area-view-info-title">Area View</h2>
        <button type="button" id="area-view-info-close-button" class="ml-auto mb-auto basis-3 shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div class="my-2 px-1">
        <table class="table-auto border-separate border-spacing-y-1.5 w-full">
          <tbody>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Total area</td>
              <td
                id="view-total-area-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td id="view-total-area-unit" class="font-light text-right dark:text-neutral-200 text-neutral-500">
                km²
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Covered area</td>
              <td
                id="view-covered-area-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td id="view-covered-area-unit" class="font-light text-right dark:text-neutral-200 text-neutral-500">
                km²
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Uncovered area</td>
              <td
                id="view-uncovered-area-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td id="view-uncovered-area-unit" class="font-light text-right dark:text-neutral-200 text-neutral-500">
                km²
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Coverage %</td>
              <td
                id="view-coverage-percentage-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <td
                id="view-coverage-percentage-unit"
                class="font-light text-right dark:text-neutral-200 text-neutral-500"
              >
                %
              </td>
            </tr>
            <tr>
              <td class="font-light dark:text-neutral-200 text-neutral-500">Total missions</td>
              <td
                id="view-total-missions-value"
                class="font-light text-neutral-400 #font-medium #dark:text-neutral-200 #text-neutral-500"
              >
                0
              </td>
              <!-- <td
                id="view-total-missions-unit"
                class="font-light text-right dark:text-neutral-200 text-neutral-500"
              ></td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button
          type="button"
          id="area-view-info-view-button"
          class="px-4 py-1 w-full rounded-md overflow-hidden dark:bg-neutral-800 ring-1 ring-neutral-600/50 ring-neutral-700/50 bg-neutral-300/90"
        >
          View
        </button>
      </div>
    </div>

    <div
      id="flyto-mission-info-container"
      class="absolute z-20 w-100 rounded-xl overflow-hidden text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 top-20 start-20 hidden"
    >
      <div id="flyto-mission-info-header" class="absolute w-full h-4 cursor-move flex #bg-neutral-200">
        <button type="button" id="flyto-mission-info-close-button" class="absolute top-2 right-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div class="px-2 py-2" id="flyto-mission-info">
        <div class="flex flex-row gap-2 px-1">
          <h2 id="flyto-mission-title" class="dark:text-neutral-300 text-neutral-500 grow font-bold">Mission Data</h2>
        </div>
        <div class="my-2 px-1">
          <table class="table-auto border-separate border-spacing-y-1.5 w-full">
            <tbody>
              <tr>
                <td id="flyto-mission-scene-title" class="font-light dark:text-neutral-400 text-neutral-500">
                  Scene Name
                </td>
                <td
                  id="flyto-mission-scene-name"
                  class="font-medium text-right dark:text-neutral-200 text-neutral-500"
                ></td>
              </tr>
              <tr>
                <td id="flyto-mission-mission-title" class="font-light dark:text-neutral-400 text-neutral-500">
                  Mission Name
                </td>
                <td
                  id="flyto-mission-mission-name"
                  class="font-medium text-right dark:text-neutral-200 text-neutral-500"
                ></td>
              </tr>
              <tr>
                <td id="flyto-mission-id-title" class="font-light dark:text-neutral-400 text-neutral-500">Mission ID</td>
                <td
                  id="flyto-mission-mission-id"
                  class="font-medium text-right dark:text-neutral-200 text-neutral-500"
                ></td>
              </tr>
              <tr>
                <td id="flyto-mission-creator-title" class="font-light dark:text-neutral-400 text-neutral-500">
                  Creator
                </td>
                <td id="flyto-mission-creator" class="font-medium text-right dark:text-neutral-200 text-neutral-500"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button
            type="button"
            id="flyto-mission-info-view-button"
            class="px-4 py-1 w-full rounded-md overflow-hidden dark:bg-neutral-800 ring-1 ring-neutral-600/50 ring-neutral-700/50 bg-neutral-300/90"
          >
            View
          </button>
        </div>
      </div>
    </div>

    <div
      id="timeline-container"
      class="absolute h-40 w-[800px] bottom-0 left-1/2 -translate-x-2/4 z-10 dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 shadow-lg rounded-lg overflow-hidden"
    >
      <div id="timeline-header" class="absolute w-full h-4 cursor-move flex #bg-neutral-200">
        <button type="button" id="timeline-popout-close-button" class="ml-auto mb-auto p-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div class="px-2 py-2" id="timeline">
      </div>
    </div>

    <div
      id="file-container"
      class="absolute z-30 w-96 h-3/5 px-2 py-2 rounded-xl overflow-hidden text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 top-0 bottom-0 right-0 left-0 hidden"
    >
      <div id="saved-areas-header" class="absolute w-full h-4 cursor-move flex #bg-neutral-200">
        <button type="button" id="saved-areas-close-button" class="absolute top-2 right-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-row gap-2 text-xs text-neutral-400 pt-2">
        <input type="file" name="file-upload" id="saved-areas-upload" multiple hidden />
        <button
          type="button"
          id="files-all-display-button"
          class="px-4 py-1 w-full 
          rounded-md 
          overflow-hidden 
          dark:bg-neutral-900/90 
          dark:hover:bg-neutral-800/70 
          bg-neutral-100/90 
          hover:bg-neutral-100/60 
          ring-1 
          ring-neutral-600/50"
        >
          All
        </button>
        <button
          type="button"
          id="files-activities-display-button"
          class="px-4 py-1 w-full 
          rounded-md 
          overflow-hidden 
          dark:bg-neutral-900/90 
          dark:hover:bg-neutral-800/70 
          bg-neutral-100/90 
          hover:bg-neutral-100/60 
          ring-1 
          ring-neutral-600/50"
        >
          Activities
        </button>
        <button
          type="button"
          id="files-geojson-display-button"
          class="px-4 py-1 w-full 
          rounded-md 
          overflow-hidden 
          dark:bg-neutral-900/90 
          dark:hover:bg-neutral-800/70 
          bg-neutral-100/90 
          hover:bg-neutral-100/60 
          ring-1 
          ring-neutral-600/50"
        >
          GeoJSONs
        </button>
      </div>
      <div class="my-2 px-1 flex flex-col">
        <input
          type="text"
          name="file-search"
          id="file-search"
          class="block #w-full rounded-xl py-1.5 px-3 #border-0 text-sm my-2 #ring-inset shadow-sm dark:bg-neutral-600/90 bg-neutral-100/90 dark:focus:bg-neutral-650/80 focus:bg-white dark:placeholder:text-neutral-400 placeholder:text-neutral-500 dark:ring-neutral-700/50 ring-neutral-400/50"
          placeholder="Search"
        />
        <div
          id="file-list"
          class="h-52 overflow-y-scroll text-gray-500 dark:text-gray-400 flex flex-col gap-2"
        ></div>
        <div class="flex flex-row gap-2 text-xs text-neutral-400 pt-2">
          <input type="file" name="file-upload" id="saved-areas-upload" multiple hidden />
          <button
            type="button"
            id="saved-areas-import-button"
            class="px-4 py-1 w-full rounded-md overflow-hidden bg-neutral-800 ring-1 ring-neutral-600/50"
            onclick="open_file()"
            id="saved-areas-all-button"
            class="px-4 py-1.5 w-full rounded-md overflow-hidden bg-neutral-100 ring-neutral-400/50 hover:bg-white #hover:ring-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:hover:ring-neutral-500/70 ring-1 dark:ring-neutral-600/50"
          >
            Import GEOJSON
          </button>
          <script type="text/javascript">
            function open_file() {
              document.getElementById("saved-areas-upload").click();
            }
          </script>
          <button
            type="button"
            id="saved-areas-export-button"
            class="px-4 py-1 w-full rounded-md overflow-hidden bg-neutral-800 ring-1 ring-neutral-600/50"
            id="saved-areas-activities-button"
            class="px-4 py-1.5 w-full rounded-md overflow-hidden bg-neutral-100 ring-neutral-400/50 hover:bg-white #hover:ring-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:hover:ring-neutral-500/70 ring-1 dark:ring-neutral-600/50"
          >
            Export GeoJSON
          </button>
          <button
            type="button"
            id="saved-areas-geojsons-button"
            class="px-4 py-1.5 w-full rounded-md overflow-hidden bg-neutral-100 ring-neutral-400/50 hover:bg-white #hover:ring-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:hover:ring-neutral-500/70 ring-1 dark:ring-neutral-600/50"
          >
            GeoJSON
          </button>
        </div>
        <div class="my-2 px-1 flex flex-col">
          <input
            type="text"
            name="saved-areas-search"
            id="saved-areas-search"
            class="block #w-full rounded-xl py-1.5 px-3 #border-0 text-sm my-2 #ring-inset shadow-sm dark:bg-neutral-600/90 bg-neutral-100/90 dark:focus:bg-neutral-650/80 focus:bg-white dark:placeholder:text-neutral-400 placeholder:text-neutral-500 dark:ring-neutral-700/50 ring-neutral-400/50"
            placeholder="Search"
          />
          <div
            id="saved-areas-list"
            class="h-52 overflow-y-scroll text-gray-500 dark:text-gray-400 flex flex-col gap-2 pr-1"
          ></div>
          <div class="flex flex-row gap-2 text-xs text-neutral-400 pt-2">
            <input type="file" name="file-upload" id="saved-areas-upload" multiple hidden />
            <button
              type="button"
              id="saved-areas-import-button"
              class="px-4 py-1.5 w-full rounded-md overflow-hidden bg-neutral-100 ring-neutral-400/50 hover:bg-white #hover:ring-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:hover:ring-neutral-500/70 ring-1 dark:ring-neutral-600/50"
            >
              Import GeoJSON
            </button>
            <button
              type="button"
              id="saved-areas-export-button"
              class="px-4 py-1.5 w-full rounded-md overflow-hidden bg-neutral-100 ring-neutral-400/50 hover:bg-white #hover:ring-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:hover:ring-neutral-500/70 ring-1 dark:ring-neutral-600/50"
            >
              Export GeoJSON
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="histogram-popout-container"
      class="absolute z-30 w-[950px] h-[220px] rounded-xl overflow-visable text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 ring-1 ring-neutral-800/50 top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 hidden"
    >
      <div id="histogram-popout-header" class="absolute w-full h-4 cursor-move flex #bg-neutral-200">
        <button type="button" id="histogram-popout-close-button" class="absolute top-2 right-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div class="px-2 py-2 w-full h-full" id="histogram-popout">
        <canvas id="histogram-chart"></canvas>
      </div>
    </div>



    <div
      id="name-area-container"
      class="absolute z-30 w-96 h-fit px-2 py-2 hidden rounded-xl overflow-hidden text-sm dark:bg-neutral-900/90 ring-1 ring-neutral-700/50 bg-neutral-100/90 ring-neutral-200/50 top-0 bottom-0 right-0 left-0 m-auto"
    >
      <div class="flex flex-row gap-2 px-1">
        <h2 class="dark:text-neutral-300 text-neutral-500 grow font-bold">Save polygon</h2>
        <button type="button" id="name-new-area-close-button" class="ml-auto">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="h-3 w-3 hover:fill-black dark:hover:fill-white">
            <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
          </svg>
        </button>
      </div>
      <div>
        <input
          type="text"
          name="name-area-textbox"
          id="name-area-textbox"
          class="inline w-80 rounded-xl py-1.5 px-3 #border-0 text-sm my-2 #ring-inset shadow-sm dark:bg-neutral-600/90 bg-neutral-100/90 dark:focus:bg-neutral-650/80 focus:bg-white dark:placeholder:text-neutral-400 placeholder:text-neutral-500 dark:ring-neutral-700/50 ring-neutral-400/50"
          placeholder="Name"
        />
        <button id="confirm-name-button" class="px-2 py-1 rounded-md overflow-hidden dark:bg-neutral-800 ring-1 ring-neutral-600/50 ring-neutral-700/50 bg-neutral-300/90">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="inline h-5 w-5 hover:fill-black dark:hover:fill-white" alt="Confirm name choice tick">
            <path d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"></path>
          </svg>
        </button>
      </div>
    </div>

    </div>
   

    <div id="map" class="absolute top-0 bottom-0 w-full z-0"></div>

    <style type="text/css">
      .timeline-axis {
        --daily-gridline-color: rgb(194, 199, 200);
        --yearly-gridline-color: rgb(81, 93, 93);
        --yearly-tick-color: rgb(81, 93, 93);
        --yearly-label-color: rgb(60, 79, 81);
        --daily-tick-color: rgb(161, 173, 173);
        --daily-label-color: rgb(60, 79, 81);
        --weekly-tick-color: rgb(161, 173, 173);
        --weekly-label-color: rgb(60, 79, 81);
      }

      .timeline-axis line {
        shape-rendering: geometricPrecision;
        stroke-width: 0.5;
      }

      .timeline-axis .yearly line {
        stroke: var(--yearly-tick-color);
      }

      .timeline-axis .yearly text {
        color: var(--yearly-label-color);
      }

      .timeline-axis .daily line {
        stroke: var(--daily-tick-color);
      }

      .timeline-axis .daily text {
        color: var(--daily-label-color);
      }

      .timeline-axis .weekly line {
        stroke: var(--weekly-tick-color);
      }

      .timeline-axis .weekly text {
        color: var(--weekly-label-color);
      }

      .timeline-axis .grid line {
        stroke: var(--daily-gridline-color);
      }

      .timeline-axis .yearlyGrid line {
        stroke: var(--yearly-gridline-color);
      }
    </style>
  </body>   
  <script src="./javascripts/dragging-divs.js"></script>
  <script type="module" src="./javascripts/map.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</html>
